{
    "env": {
        "server": {
            "plugins": [
                "babel-plugin-inline-import-graphql-ast",
                [
                    "css-modules-transform", {
                        "preprocessCss": "sass-loader",
                        "generateScopedName": "[hash:8]",
                        "extensions": [".scss"]
                    }
                ]
            ]
        }
    }
}