@import 'app/index.scss';

.layout {
    .blur {
        filter: blur(9px);
    }

    > div {
        padding-top: 5em;
    }

    .background {
        position: fixed;
        top: 0;
        background: $whitesmoke;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    header {
        display: flex;
        position: fixed;
        top: 0;
        width: calc(100% - 20px);
        z-index: 2;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        padding: 10px;
        margin-bottom: 2em;
        background-color: $yellow;

        .left-items {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .app-icon {
            float: left;
            cursor: pointer;
            margin: 0 10px;
        }

        .title {
            white-space: nowrap;
            font-size: 18px;
            display: inline-flex;
            padding: 6px;
            margin: 0 1em;
        }

        .toolbar {
            display: flex;
            align-items: center;
            width: 100%;
            .Select {
                width: 100%;
            }
            > * {
                margin-right: 5px;
            }
        }

        > div {
            display: inline-flex;
        }

        .search-wrapper {
            margin: 0 1em;
            float: left;
            display: flex;
            height: 30px;
            border-radius: 3px;
            background: $lightyellow;
            > i {
                font-size: 30px;
            }
            input {
                border: none;
                font-size: 26px;
                outline: none;
                padding: 0 5px;
                border-radius: 3px;
                background: $lightyellow;
            }
        }
    }
}
